<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}" class="browse-btn">Browse</a>
        <h1 class="title">Vinter</h1>
        <a href="{{ url_for('shopping_cart') }}" class="cart-btn">🛒 Cart</a>
    </header>

    <h1>Admin page</h1>

    <h2>Items</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Change Stock</th>
        </tr>

        {% for item in items %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>
                    <form method="POST" action="{{ url_for('change_stock', id=item[0]) }}">
                        <label for="stock">New stock:</label>
                        <input type="number" id="stock" name="stock" reqiured><br><br>
                        
                        <button type="submit">Change stock</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <h3>Add new item</h3>
    <form method="POST" action="{{ url_for('add_new_item') }}">
        <label for="item_name">Item name:</label>
        <input type="text" id="item_name" name="item_name" reqiured><br><br>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" reqiured><br><br>

        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock" reqiured><br><br>

        <label for="item_description">Item description:</label>
        <input type="text" id="item_description" name="item_description" reqiured><br><br>

        <label for="item_image">Item image:</label>
        <input type="text" id="item_image" name="item_image" reqiured><br><br>
        
        <button type="submit">Add item</button>
    </form>
           
    
    <h2>Orders</h2>
    <table>
        <tr>
            <th>Order Id</th>
            <th>User Id</th>
            <th>Date Placed</th>
            <th>Sent</th>
            <th>Send Order</th>
            <th>Remove Order</th>
        </tr>

        {% for order in orders %}
            <tr>
                <td>{{ order[0] }}</td>
                <td>{{ order[1] }}</td>
                <td>{{ order[2] }}</td>
                <td>{{ order[3] }}</td>
                <td>
                    <form method="POST" action="{{ url_for('send_order', id=order[0]) }}">
                        <button type="submit">Send Order</button>
                    </form>
                </td>
                <td>
                    <form method="POST" action="{{ url_for('remove_order', id=order[0]) }}">
                        <button type="submit">Remove Order</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>