<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}" class="browse-btn">Browse</a>
        <h1 class="title">Vinter</h1>
        <a href="{{ url_for('shopping_cart') }}" class="cart-btn">🛒 Cart</a>
    </header>

    <h1>Välkommen</h1>
    <ul>
        {% for item in items %}
            <div class="item_container">
                <li>
                    <a href="{{ url_for('item_page', id=item[0]) }}">{{ item[1] }}</a>
                    <a>{{ item[2] }}</a>
                </li>
            </div>
        {% endfor %}
    </ul>
</body>
</html>
