<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}" class="browse-btn">Browse</a>
        <h1 class="title">Vinter</h1>
        <a href="#" class="cart-btn">🛒 Cart</a>
    </header>
    
	<h1>{{item}}</h1>
	<p>Stock: {{stock}}</p>
    <p>Price: {{price}}</p>
    <p>Item Description: {{description}}</p>

    <form method="POST" action="{{ url_for('add_to_cart', id=id) }}">        
        <button type="submit">Add to cart</button>
    </form>
</body>
</html>