<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}" class="browse-btn">Browse</a>
        <h1 class="title">Vinter</h1>
        <a href="{{ url_for('shopping_cart') }}" class="cart-btn">🛒 Cart</a>
    </header>

	<h1>{{item}}</h1>
    <div class="item_info">
        <p class="price_tag">Price: {{price}}:-</p>
        <p>Item Description: {{description}}</p>
        <p>Stock: {{stock}}</p>
        <form method="POST" action="{{ url_for('add_to_cart', id=id) }}">        
            <button type="submit" class="add_to_cart_button">Add to cart</button>
        </form>
    </div>

    

    <p>Rating: {{ average_rating }}</p>

    <form method="POST" action="{{ url_for('leave_rating', id=id) }}">  
        <p>
            <input type="radio" id="rating1" name="rating" value="1" checked />
            <label for="rating1">1</label>

            <input type="radio" id="rating2" name="rating" value="2" checked />
            <label for="rating2">2</label>

            <input type="radio" id="rating3" name="rating" value="3" checked />
            <label for="rating3">3</label>

            <input type="radio" id="rating4" name="rating" value="4" checked />
            <label for="rating4">4</label>

            <input type="radio" id="rating5" name="rating" value="5" checked />
            <label for="rating5">5</label>
        </p>  

        <button type="submit">Leave Rating</button>
    </form>

    <form method="POST" action="{{ url_for('leave_comment', id=id) }}">    
        <label for="new_comment">Leave Comment</label>
        <input type="text" id="new_comment" name="new_comment" reqiured><br><br>

        <button type="submit">Leave Comment</button>
    </form>

    {% for comment in comments %}
    <div class="comment">
        <p>{{ comment[0] }} {{ comment[1] }}</p>
        <p>{{ comment[2] }}</p>
    </div>
    {% endfor %}


</body>
</html>