<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <h1>Log In</h1>
    <form method="POST" action="{{ url_for('check_credentials') }}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" reqiured><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" reqiured><br><br>
        
        <button type="submit">Log in</button>
    </form>

    <a href="{{ url_for('register') }}">Not a user? Register here</a>

</body>
</html>