<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}" class="browse-btn">Browse</a>
        <h1 class="title">Vinter</h1>
        <a href="#" class="cart-btn">🛒 Cart</a>
    </header>

    <h1>Log In</h1>
    <form method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" reqiured><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" reqiured><br><br>
        
        <button type="submit">Log in</button>
    </form>
    

</body>
</html>